resource_group_name            = "rg-example-hybrid-wus2"
location                       = "West US 2"
vnet_name                      = "vnet-example-hybrid-wus2"
vnet_address_space             = "10.10.0.0/16"
servers_subnet_name            = "snet-servers"
servers_subnet_address_prefix  = "10.10.1.0/24"
identity_subnet_name           = "snet-identity"
identity_subnet_address_prefix = "10.10.2.0/24"
gateway_subnet_address_prefix  = "10.10.255.0/27"

vpn_gateway_public_ip_name = "pip-vpngw-example-wus2"
vpn_gateway_name           = "vpngw-example-wus2"

local_network_gateway_name   = "lngw-example-home"
onpremises_vpn_address_space = "192.168.100.0/24"
onpremises_vpn_public_ip     = "YOUR_PUBLIC_IP"
s2s_vpn_connection_name      = "conn-example-s2s"

dc02_vm_name            = "AZ-DC02"
dc02_nic_name           = "nic-dc02"
dc02_private_ip_address = "10.10.2.4"
dc02_dns_server         = "192.168.100.200"
dc02_admin_username     = "azureadmin"
dc02_vm_size            = "Standard_D2ls_v5"

dc02_image_publisher = "MicrosoftWindowsServer"
dc02_image_offer     = "WindowsServer"
dc02_image_sku       = "2022-Datacenter"
dc02_image_version   = "latest"

nat_gateway_public_ip_name = "pip-nat-example-wus2"
nat_gateway_name           = "natgw-example-wus2"